# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
data/*.jpg
data/*.png
data/*.jpeg

# System files
.DS_Store

# VSCode / Zed / PyCharm configs
.vscode/
.idea/
